@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="header1">
        <div class="row justify-content-md-center">
            <div class="col-xs-1 font">
                <img src="~/images/logo/rocket.png" class="logo-rocket">
            </div>
            <div class="col-xs-3 font1">
                <img src="~/images/logo/Logo_G-ABLE.png" class="logo1">
            </div>
            <div class="col-xs-3 font2">
                COMMUNITY
            </div>
        </div>
        <div class="row font3 justify-content-md-center">
            CONNECT WITH COMMUNITY MEMBERS TO LEARN, GET INSPIRED, AND BLAZE TRAILS TOGETHER
        </div>
    </div>
</div>

<suction>
    <div class="container top1">
        <div class="row">
            <div class="col-md-8">
                <div class="jumbotron1">
                    <div class="row ">
                        <div class="col-md-6 border-right">
                            <!-- ANSWER -->
                            <p class="lead top2">
                                <img src="~/images/icon/ownership2.png" class="icon-size">
                                Answer
                            </p>
                            <hr class="my-4">
                            <p class="font-detail">
                                Ask questions, get tips, and share knowledge with the rest of the Trailblazer Community.
                            </p>
                            <div class="row">
                                <div class="col-md-3 m-bottom">
                                    <img src="~/images/profile/p1.jpg" class="img-size-profile2">
                                </div>
                                <div class="col-md-9">
                                    <p class="font-comment">
                                        formula to add completed date fields with controlling checkbox factor
                                    </p>
                                    <div class="row">
                                        <div class="col-md-4 time">
                                            20 hours
                                        </div>
                                        <div class="col-md-4 comment">
                                            5 comments
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <img src="~/images/profile/p11.jpg" class="img-size-profile2">
                                </div>
                                <div class="col-md-9">
                                    <p class="font-correct">
                                        <img src="~/images/logo/tick.png" class="correct">
                                        See the Best Answer
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <hr class="my-4">
                                    <center>
                                        <button class="btn1">EXPLORE ANSWERS</button>
                                    </center>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <p class="lead top2">
                                <!-- ANSWER LEADERS-->
                                <img src="~/images/icon/excellence3.png" class="icon-size">
                                Answer Leaders
                            </p>
                            <hr class="my-4">
                            <p class="font-detail">
                                Meet the Trailblazers who go above and beyond to help community members succeed with Salesforce.
                            </p>
                            <center>
                                <img src="~/images/profile/p1.jpg" class="img-size-profile">
                                <img src="~/images/profile/p2.jpg" class="img-size-profile">
                                <img src="~/images/profile/p3.jpg" class="img-size-profile">
                                <img src="~/images/profile/p4.jpg" class="img-size-profile">
                                <img src="~/images/profile/p5.jpg" class="img-size-profile">
                                <img src="~/images/profile/p6.jpg" class="img-size-profile">
                                <img src="~/images/profile/p7.jpg" class="img-size-profile">
                                <img src="~/images/profile/p8.jpg" class="img-size-profile">
                                <img src="~/images/profile/p9.jpg" class="img-size-profile">
                                <img src="~/images/profile/p10.jpg" class="img-size-profile">
                                <img src="~/images/profile/p11.jpg" class="img-size-profile">
                                <img src="~/images/profile/p12.jpg" class="img-size-profile">
                            </center>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container1">
                    <img src="~/images/icon/ad1.jpg" class="ad">
                    <button asp-controller="Home" asp-action="Index" class="btn2">Get Start</button>
                </div>
                <a href="#">
                    <div class="container1 top6">
                        <img ng-click="customerfocus()" src="~/images/icon/ad2.jpg" class="ad">
                    </div>
                </a>
            </div>

            <!--Colllaborate-->
            <div class="col-md-8">
                <div class="jumbotron1">
                    <p class="lead top3">
                        <img src="~/images/icon/teamwork2.png" class="icon-size">
                        Collaborate
                    </p>
                    <hr class="my-4">
                    <p class="font-detail2">
                        There's always a conversation happening in the Trailblazer Community. Jump in to add your voice and meet fellow trailblazers.
                    </p>

                    <!--comment-->
                    <div class="row">
                        <div class="col-md-2 m-bottom">
                            <img src="~/images/profile/p5.jpg" class="img-size-profile2">
                        </div>
                        <div class="col-md-10 left">
                            <p class="font-comment2">
                                * Release Readiness Trailblazers * - อริสรา ประภากาญจนกุล
                            </p>
                            <p class="detail-com">
                                Hi All, Here's an idea about Trailhead. Please Upvote if it helps you achieve your day-to-day certification maintenance goals. https://success.salesforce.com/ideaView?id=0873A0000003aMjQAI
                                <a href="#">...More</a>
                            </p>
                            <p class="time top5">
                                10 hours ago &middot; 8  omments &middot; 0 likes
                            </p>
                        </div>

                        <div class="col-md-2 m-bottom">
                            <img src="~/images/profile/p1.jpg" class="img-size-profile2">
                        </div>
                        <div class="col-md-10 left">
                            <p class="font-comment2">
                                * Sales Cloud - Getting Started * - สุภาวดี ทองคำ
                            </p>
                            <p class="detail-com">
                                Do you have questions about Sales Cloud? Don't know where to turn? Did you miss Tuesday's Office hour????  Join our weekly (Thursday) Sales Cloud Open Office Hours! Get your questions answered live by a Sales Cloud expert. ** Please create a case at help.salesforce.com if something is broken
                                <a href="#">...More</a>
                            </p>
                            <p class="time top5">
                                8 hours ago &middot; 2  omments &middot; 0 likes
                            </p>
                        </div>

                        <div class="col-md-2 m-bottom">
                            <img src="~/images/profile/p6.jpg" class="img-size-profile2">
                        </div>
                        <div class="col-md-10 left">
                            <p class="font-comment2">
                                Trailhead - ชัชวาล สิทธิทุม
                            </p>
                            <p class="detail-com">
                                Hi Experts,  I need help in Linking Webassesor account to Trailhead. I followed the instructions from the email i received but i didnt see any option to link my webassesor account to my trailhead account. I already followed the step in http://certification.force.com/pkb/articles/Public_KB/Link-Your
                                <a href="#">...More</a>
                            </p>
                            <p class="time top5">
                                6 hours ago &middot; 2  omments &middot; 0 likes
                            </p>
                        </div>
                        <div class="col-md-12">
                            <hr class="my-4">
                            <center>
                                <button class="btn1">JOIN THE CONVERSATION</button>
                            </center>
                        </div>
                    </div>
                    <!--end comment-->
                </div>
            </div>

            <div class="col-md-4 top7">
                <div class="jumbotron1">
                    <p class="lead top2">
                        <img src="~/images/logo/logo.png" class="logo2">
                        Featured G-ABLE
                    </p>
                    <hr class="my-4">
                    <p class="font-detail3">
                        Meet a community member who's blazing a trail with Salesforce.
                    </p>
                    <div class="row top6">
                        <div class="col-md-3 m-bottom">
                            <img src="~/images/profile/p9.jpg" class="img-size-profile2">
                        </div>
                        <div class="col-md-9 left">
                            <p class="font-name">
                                อัญชลี รักษาศิริ
                            </p>
                            <p class="font-content">
                                Application Architect - Salesforce...
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 b-margin">
                            <p class="font-detail4">
                                Multi-certified Senior Salesforce Consultant at 4C, a European Salesforce Platinum Partner (www.weare4c.com). Working with Salesforce since 2009 this #Hacker_Astro is an enthousiastic problem solver with a “Can Do” mentality and has a passion for Sales, Marketing, CPQ & Billing. Belgium User Group L...
                            </p>
                            <hr class="my-4">
                            <p>
                                <img src="~/images/icon/medal.png" class="icon2">
                                <span class="font-badges">Badges</span>
                                <span class="font-badges2">226</span>
                                <span class="font-badges">Point</span>
                                <span class="font-badges3">132,800</span>
                            </p>
                            <hr class="my-4">
                            <p>
                                <img src="~/images/icon/diploma.png" class="icon2">
                                <span class="font-badges">Certifications</span>
                                <span class="font-badges2">10</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</suction>
