
@{
    ViewData["Title"] = "Member";
}

<h2>Member</h2>
<div class="twPc-div">
    <a class="twPc-bg twPc-block"></a>
    <div>
        <a  class="twPc-avatarLink">
            <img alt="Mert S. Kaplan" src="https://mertskaplan.com/wp-content/plugins/msk-twprofilecard/img/mertskaplan.jpg" class="twPc-avatarImg">
        </a>
        <div class="twPc-divUser">
            <div class="twPc-divName">
                <a >Mert S. Kaplan</a>
            </div>
            <span>
                <a><span>mertskaplan</span></a>
            </span>
        </div>
        <div class="twPc-divStats">
            <ul class="twPc-Arrange">
                <li class="twPc-ArrangeSizeFit">
                    <a  title="9.840 Tweet">
                        <span class="twPc-StatLabel twPc-block">Budges</span>
                        <span class="twPc-StatValue">9</span>
                    </a>
                </li>
                <li class="twPc-ArrangeSizeFit">
                    <a  title="885 Following">
                        <span class="twPc-StatLabel twPc-block">Point</span>
                        <span class="twPc-StatValue">885</span>
                    </a>
                </li>
                <li class="twPc-ArrangeSizeFit">
                    <a  title="1.810 Followers">
                        <span class="twPc-StatLabel twPc-block">Certificate</span>
                        <span class="twPc-StatValue">4</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>